body {
  margin: 0;
  font-family: 'RedHatText';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RedHatDisplay';
}

section {
  padding: 2rem;
}

section.light {
  background-color: var(--rh-color-gray-05, #f2f2f2);
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}